@import "../../App.scss";
.dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
.btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
} 
.img-fluid {
    max-width: 23%;
    height: auto;
}
.notification_row {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.notification_row:hover {
    cursor: pointer;
    transform: scale(1.03); /* Slight Zoom Effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle Shadow */
}