.icon{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.headerIcon{
    background-color: black;
    border-radius: 10px;
}
.backIcon{
    font-size: 30px !important;
    cursor: pointer;
    // position: relative;
    right: 167px;
    top: 6px;
    display: inline !important;
 
}