@import "../../App.scss";

h1, h2, h3, h5 {
  font-family: 'Friz Quadrata Std';
}

.card {
  width: 20rem;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1); /* Softer shadow for a better look */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  overflow: hidden; /* To prevent overflow */
  margin: auto; /* Center cards horizontally */
}

.card:hover {
  transform: translateY(-10px); /* Lift card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.card_background {
  background-color: #011526; /* Dark background for the card */
  // width: 100%; /* Full width to fit the column */
}

.cardIcon {
  height: 66px !important;
  width: 106px !important;
  color: white;
  margin: 0 auto; /* Center the icon horizontally */
  display: block; /* Block display for better alignment */
  animation: fadeIn 1s ease; /* Fade in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.Cardheading {
  color: white;
  text-align: center; /* Center align the text */
  font-size: 1.5rem; /* Larger font size for headings */
  margin-top: 10px; /* Space above the heading */
  font-weight: 600; /* Bold font */
}

.title {
  font-family: sans-serif;
  font-size: 2.5rem; /* Larger title font size */
  margin-bottom: 20px; /* Space below the title */
}

.subTitle {
  font-size: 23px;
  font-weight: 500;
}

.Box {
  width: 40%;
  margin: 5% auto;
  background-color: #f2f2f2;
  text-align: center;
  padding: 2%;
  border-radius: 10px;

  h1 {
    font-size: 2em;
    font-weight: 400;
  }
}

.drop-zone, .upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.18);
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  border-radius: 10px;
  margin: 30px;
  transition: all 0.2s ease;
}

.dragged.drop-zone {
  background: var(--main-bg-color);
  border-color: #2196f3;
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.icon-container .right, .icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .icon-container .right {
  transform: rotate(10deg) translate(20px) scale(0.9);
}

.dragged .icon-container .left {
  transform: rotate(-10deg) translate(-20px) scale(0.9);
}

.dragged .icon-container .center {
  transform: translateY(-5px);
}

.browseBtn {
  color: #2196f3;
  cursor: pointer;
}

.headingimage {
  margin-left: 512px;
  width: 115px !important;
  border: solid;
  padding: 9px;
  color: #6EBAFF;
  border-radius: 73px;
}

.badgedate {
  font-size: 21px !important;
}
